.ball {
    width: 100px;
    height: 100px;
    color: red;
    transform: scale(0.25);
    transition: all 1s ease-in;
}

    .ball.active {
        transform: scale(1.25);
    }

    /*part 2*/
/*<div id="animating-ball" class="ball"></div>*/
@keyframes ball-scale {
    from

{
    transform: scale(1);
    box-shadow: 0 8px 6px -6px #6C7A89;
}

to {
    transform: scale(1.25);
    box-shadow: 0 10px 6px -6px #6C7A89;
}

}

@keyframes ball-circular {
    from {
        box-shadow: 0 10px 6px -6px #6C7A89;
        transform-origin: 50% -450%;
        transform: scale(1.25) rotate(0deg) translateY(-100%) rotate(0deg);
    }

    to {
        box-shadow: 0 10px 6px -6px #6C7A89;
        transform-origin: 50% -450%;
        transform: scale(1.25) rotate(360deg) translateY(-100%) rotate(-360deg);
    }
}

.ball {
    background-color: #D24D57;
    width: 25px;
    height: 25px;
    margin: 25px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 8px 6px -6px #6C7A89;
}

.ball--scale-up {
    animation: ball-scale 1s ease-out forwards;
    animation-direction: normal;
}

.ball--circling {
    animation: ball-circular 2s ease-in-out forwards;
}

.ball--scale-down {
    animation: ball-scale 1s ease-in forwards;
    animation-direction: reverse;
}